{% extends "../base.html" %}
{% block content %}
    <main>
        <section>
            <div class="container">
                <div class="form">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form}}
                        <input type="submit" class="btn btn-success">
                    </form>
                </div>
            </div>
        </section>
    </main>
    <script>
        let form = document.forms[0]
        for(let el of form.elements){
            if(el.getAttribute("type") =='text' || el.getAttribute("type") =='number'){
                el.setAttribute("class", "form-control")
            }
        }
    </script>
{% endblock content %}