{% extends 'base.html' %}
{% load static %}
{% block content %}
        <div id="main">
            <div class="container">




                <div id="filters_row" class="row">
                    <div class="left">
                        <h1>Избранное</h1>
                    </div>
                    <div class="right">
                        <a href="{% url 'users:clear_favorites' %}" class="abtn" title="Очистить историю просмотров" alt="Очистить историю просмотров" id="clear_history">
                            Очистить
                        </a>
                    </div>
                </div>


                <ul class="items with_spacer">
                    {% for movie in object_list %}
                    <li class="item">
                        <div class="poster">
                        <a href="{% url 'movie:movie_detail' movie.slug %}"
                            ><img
                            src="{{movie.cover.url}}"
                            class="img-responsive"
                            loading="lazy"
                            alt="{{movie.title}}"
                            title="{{movie.title}}"
                            width="242"
                            height="358" /></a
                        ><button
                            class="favorite"
                            data-movie-id="223525"
                            title="Добавить в избранное"
                        ></button>
                        </div>
                        <div class="title">
                        <a
                            href="{% url 'movie:movie_detail' movie.slug %}"
                            alt="{{movie.title}}"
                            title="{{movie.title}}"
                            >{{movie.title}}</a
                        >
                        </div>
                        <span class="rating">{{movie.get_average_rating}}</span
                        ><span class="year">{{movie.year}}, {{movie.quality}}</span>
                    </li>
                    {% empty %}
                    <p>В истории ничего нет </p>
                  {% endfor %}
                </ul>
                <center>
                    <div id="pg_full">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}">
                                    Предыдущая
                                </a>
                                </li>
                            {% endif %}
                 
                            {% for p in page_obj.paginator.page_range|slice:"10" %}
                                
                                {% if p == page_obj.number %}
                                <li class="active">
                                    <a href="?page={{ p }}">{{ p }}</a>
                                </li>
                                {% else %}
                                <li>
                                    <a href="?page={{ p }}">{{ p }}</a>
                                </li>
                                {% endif %}
                                
                            {% endfor %}
                            
                            {% if page_obj.has_next %}
                                <li>
                                    <a href="?page={{ page_obj.next_page_number }}" class="next">
                                        Следующая
                                    </a>
                                </li>
                                <li>
                                 <a href="?page={{ page_obj.paginator.num_pages }}">
                                    {{ page_obj.paginator.num_pages }}
                                </a> 
                                </li>
                              
                            {% endif %}
                        </ul>
                    </div>
                </center>
                <center>
                    <div id="pg_small">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}">
                                    Предыдущая
                                </a>
                                </li>
                            {% endif %}
                            <li>
                                <select action="{{ request.path }}?" method="get">
                                    <option value="1" selected="selected">
                                        1 / {{ page_obj.paginator.num_pages }}
                                    </option>
                                    {% for p in page_obj.paginator.page_range|slice:"10" %}
                                
                                    <option value="{{ p }}">{{ p }}</option>

                                    {% endfor %}

                                    <option value="{{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</option>
                                </select>
                            </li>
                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}" class="next">
                                    Следующая
                                </a>
                            </li>
                            <li>
                             <a href="?page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }}
                            </a> 
                            </li>
                          
                        {% endif %}
                        </ul>
                </center>


           



            </div>
        </div>
{% endblock %}