{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main>
    <div class="opacity"></div>
    <section class="login">
      <div class="container">
        <div class="login__items">
          <div class="login__items__title">
            <h3>Shaxsiy ma’lumotlar</h3>
            <p>
              Xizmat ko’rsatish turini va xizmatlaringiz haqida ma’lumotlarni to’ldiring, bu orqali mijozlar sizni tezroq va osonroq topa olishadi. Avvaldan profilingiz bormi ? U holda shunchaki <a href="{% url 'users:login' %}">kiring.</a>
            </p>
          </div>
          <form class="login__items__form" action="" method="post">
            {% if "master" in request.path %}
            <div>
              <span>Servis nomi</span>
              <input type="text" name="service_name" autocomplete="on" maxlength="150" required/>
            </div>
            {% endif %}
            {{form}}
            {% csrf_token %}
        
           
            <div class="check">
              <input type="checkbox" name="check" id="save" />
              <label for="save">Shaxsiy ma’lumotlarimni e’lonlar oynasida joylanishiga va tarqatilishiga roziman</label>
            </div>
            <button type="submit">Ro’yhatdan o’tish</button>
          </form>
        </div>
      </div>
    </section>

    <!-- Scroll Up Start -->
    <div id="scrollUp" class="scrollUp">
      <span>&uarr;</span>
    </div>
    <!-- Scroll Up End -->
  </main>
{% endblock %}
