{% extends 'base.html' %}
{% load static %}
{% block content %}
  <main>
    <div class="opacity"></div>
    <section class="login">
      <div class="container">
        <div class="login__items">
          <div class="login__items__title">
            <h3>Shaxsiy ma’lumotlar</h3>
            <p>
              Xizmat ko’rsatish turini va xizmatlaringiz haqida ma’lumotlarni to’ldiring, bu orqali mijozlar sizni tezroq va osonroq topa olishadi. Avvaldan profilingiz bormi ? U holda shunchaki <a href="{% url 'users:login' %}">kiring.</a>
            </p>
          </div>
          <form class="login__items__form" action="" method="post">
            {{form}}
            {% csrf_token %}
            {% comment %} <div>
              <span>Familya</span>
              <input type="text" name="last_name" autocomplete="on"/>
            </div>
            <div>
              <span>Ism</span>
              <input type="text" name="first_name" autocomplete="on" />
            </div>
            <div>
              <span>Telefon</span>
              <input id="phoneNumberInput" autocomplete="on" onkeyup="formatPhoneNumber();" type="text" name="phone" maxlength="12" />
            </div>
            <div>
              <span>elektron pochta</span>
              <input type="email" name="email" autocomplete="on" />
            </div>
            <div>
              <span>Parol</span>
              <input type="password" name="password1" id="password1" onkeyup="checkPasswordMatch();" />
            </div>
            <div>
              <span>Parol takroran *</span>
              <input type="password" name="password2" id="password2" onkeyup="checkPasswordMatch();" />
              <div id="passwordMatch"></div>
            </div> {% endcomment %}
            <div class="check">
              <input type="checkbox" name="check" id="save" />
              <label for="save">Shaxsiy ma’lumotlarimni e’lonlar oynasida joylanishiga va tarqatilishiga roziman</label>
            </div>
            <button type="submit">Ro’yhatdan o’tish</button>
          </form>
        </div>
      </div>
    </section>

    <!-- Scroll Up Start -->
    <div id="scrollUp" class="scrollUp">
      <span>&uarr;</span>
    </div>
    <!-- Scroll Up End -->
  </main>
{% endblock %}
