{% extends 'base.html' %}

{% block content %}
<body>

  <main>
    <div class="container">
        <header>
            <nav>
                <ul style="display: flex;">
                    <li style="list-style: none;">
                        <a href="/">
                            Home 
                        </a>
                    </li>
                    {% for tour in tournaments %}
                        <li style="list-style: none;">
                            <a href="">
                                <img src="{{tour.logo.url}}" width="80" alt="{{tour.name}}">
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>
        <br>
        <section>
            <div class="row">
                <div class="column">
                    {% include 'components/filter-form.html' %}
                </div>
                <div class="column column-75">
                    <ul>
                        {% for player in object_list %}
                            <li style="list-style: none;">
                                <div class="row">

                                        <a href="">
                                            <img src="{{player.image.url}}" width="100" alt="{{player.name}}">
                                        </a>
                                    <div class="column">
                                        <a href=""><h4>{{player.name}}</h4></a>
                                        <p>
                                            <span>Yoshi : {{player.get_player_age}}</span>
                                            <span>Bo'y : {{player.height}}</span>
                                            <span>Vazn : {{player.weight}}</span>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        {% empty %}
                        <h4>No filter data !</h4>
                        {% endfor %}
                    </ul>
                </div>
              </div>
        </section>
    </div>
  </main>
    
</body>
{% endblock %}