{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vote-app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon-32x32.png' %}" type="image/x-icon">
</head>

<body>
    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>

    <!-- navbar -->

    <nav class="navbar navbar-expand-md">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img src="{% static 'image/logo.jpg' %}" alt="Logo" class="navbar-logo">
            </a>

            <!-- Toggler Button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible Navbar Items -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 gap-3 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html"><i class="fa-solid fa-bug"></i> Bug Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./roadmap.html"><i class="fa-solid fa-map"></i> Roadmap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa-solid fa-recycle"></i> Changelog</a>
                    </li>
                </ul>

                <!-- Search Icon -->
                <form class="d-flex">
                    <button class="btn btn-outline-primary" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                <!-- Sign Up / Log In Button -->
                <button class="btn btn-outline-primary btn-signup m-lg-3 my-1">Sign up / Log in</button>
            </div>
        </div>
    </nav>




{% block content %}
{% endblock %}



<script>
    setTimeout(()=>{
        const notf = document.getElementById("notification");
        notf.style.display = 'none'
    },3000)
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>