{% extends 'base.html' %}
{% block content %}

    <!-- post and forms section -->


    <section class="py-5  ">
        <div class="container">
            <div class="row">



                <div class="col-sm-12 col-md-12 col-lg-10">


                    <!-- start post -->


                    <div class="cards post my-3">
                        <!-- counter btn -->
                        <div class="vote-btn vote-detail d-flex flex-column m-0 p-3 btn" style="height: 50%;">
                            <i class="fas fa-caret-up" role="button"></i>
                            <h3 class="counter">0</h3>
                        </div>
                        <!-- end counter -->


                        <!-- post body -->

                        <div class="post-body p-3">
                            <h2 class="post-title">Post Title</h2>
                            <p class="post-description">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quaestus
                                quidem
                            </p>

                            <div class="user-profile pt-5 d-flex gap-3">
                                <i class="fas fa-user"></i>
                                <p>Abdurakhman</p>
                                <p>posted 1 day ago</p>
                            </div>

                        </div>

                        <!-- end post body -->



                    </div>
                    <!-- end post -->

                    <div class="cards forms ">

                        <!-- start forms -->
                        <div class="card-in-card">
                            <input type="text" class="form-control" placeholder="What do you think?">
                            <div class="d-flex gap-1">
                                <input type="text" class="form-control my-3" placeholder="Name">
                                <input type="email" class="form-control my-3" placeholder="Email">
                            </div>
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">I agree with Privacy Policy and Terms
                                and Conditions</label>

                            <div class="d-flex justify-content-between">
                                <div class="custom-file-upload my-3">
                                    <label for="file-upload" class="attachment fs-6" role="button">
                                        <i class="fas fa-paperclip"></i>
                                        Attach Images
                                    </label>
                                    <input id="file-upload" type="file" accept="image/*" multiple>
                                </div>

                                <button type="submit" class="btn btn-primary px-4">Submit</button>
                            </div>
                        </div>
                        <!-- end forms -->


                        <!-- comment part -->
                        <div class="comment-part">
                            <div class="comment-box py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="comment-author"><i class="fas fa-user"></i> Abdurahmon</span>
                                    <span class="comment-time">in 3 days</span>
                                </div>
                                <div class="comment-text px-4 py-3">no yes</div>
                                <a href="#" class="text-decoration-none fs-6 text-primary px-4"><i
                                        class="fa-solid fa-reply"></i> Reply</a>
                            </div>

                            <br>
                            <!-- Reply -->
                            <div class="comment-box reply px-4 p-3" style="border-left: solid 3px;background: #F9FAFB;">
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="comment-author"><i class="fas fa-user"></i> Абдурахмон</span>
                                    <span class="comment-time">in 3 days</span>
                                </div>
                                <div class="comment-text px-4 py-3">no yes</div>
                                <a href="#" class="text-decoration-none fs-6 text-primary px-4"><i
                                        class="fa-solid fa-reply"></i> Reply</a>
                            </div>

                            <!-- end comment -->
                        </div>

                    </div>


                </div>



            </div>






        </div>
        </div>
    </section>

{% endblock content %}



