{% extends 'base.html' %}
{% block content %}

    <!-- post and forms section -->


    <section class="py-5  ">
        <div class="container">
                 <!-- end navbar -->
                 {% if messages %}
                 <div class="alert alert-success my-5" id="notification" >
                     <div class="messages">
                         {% for message in messages %}
                         <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                         {% endfor %}
                     </div>
                 </div>
                 {% endif %}
            <div class="row">



                <div class="col-sm-12 col-md-12 col-lg-10">


                    <!-- start post -->


                    <div class="cards post my-3">
                        <!-- counter btn -->
                        <div class="vote-btn vote-detail d-flex flex-column m-0 p-3 btn" style="height: 50%;">
                            <a href="{% url 'main:add_votes' post.id %}" class="text-decoration-none">
                                <i class="fas fa-caret-up" role="button"></i>
                                <h3 class="counter">{{post.votes}}</h3>
                            </a>
                        </div>
                        <!-- end counter -->


                        <!-- post body -->

                        <div class="post-body p-2">
                            <h2 class="post-title">{{post.title}}</h2>
                            <p class="post-description">
                                {{post.content}}
                            </p>

                            <div class="user-profile pt-5 d-flex gap-3">
                                <i class="fas fa-user"></i>
                                <p>Abdurakhman</p>
                                <p>{{post.get_published_days}} </p>
                            </div>

                        </div>

                        <!-- end post body -->



                    </div>
                    <!-- end post -->

                    <div class="cards forms ">

                        <!-- start forms -->
                        <div class="card-in-card">
                            <form action="" method="post">
                                {% csrf_token %}
                            <input type="text" name="comment" class="form-control" placeholder="What do you think?">
                            <div class="d-flex gap-1">
                                <input type="text" name="name" class="form-control my-3" placeholder="Name" required>
                                <input type="email" name="email" class="form-control my-3" placeholder="Email" required>
                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary px-4">Submit</button>
                            </div>
                        </form>
                        </div>
                        <!-- end forms -->


                        <!-- comment part -->
                        <div class="comment-part">
                            {% for comment in post.comments.all %}
                            <div class="comment-box py-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <a href="mailto:{{comment.email}}" class="comment-author">
                                        <i class="fas fa-user"></i> 
                                        {{comment.name}}
                                    </a>
                                
                                </div>
                                <div class="comment-text px-4 py-3">
                                    {{comment.comment}}
                                </div>
                            </div>
                            {% empty %}
                            <div class="comment-text px-4 py-3">
                                No comment yet !
                            </div>
                            {% endfor %}
                            <br>
            

                            <!-- end comment -->
                        </div>

                    </div>


                </div>



            </div>






        </div>
        </div>
    </section>

{% endblock content %}



