{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <section>
            <div class="container">
                <br>
                <div class="row">
                    {% for post in object_list %}
                    <div class="col-3">
                        <div class="card w-75 mb-3">
                            <div class="card-body">
                              <h5 class="card-title">{{post.title}}</h5>
                              <ul class="list-group">
                                <li class="list-group-item">{{post.author}}</li>
                                <li class="list-group-item">{{post.views}}</li>
                                <li class="list-group-item">{{post.up}}</li>
                                <li class="list-group-item">{{post.down}}</li>
                              </ul>
                              <a href="#" class="btn btn-primary">Button</a>
                            </div>
                          </div>
                    </div>
                    {% empty %}
                        <h4>404</h4>
                    {% endfor %}
                </div> 
            </div>
        </section>
    </main>
{% endblock content %}