{% extends "base.html" %} {% load static %} {% block content %}
{% block title %}
<title>Reset confirm</title>
{% endblock title %}
<div id="main">
	<div class="container">

	  <div id="login_page">
<div class="center">
	<h2>Password Reset Confirm</h2>
	<form method="post" class="card" id="my_login_form">
	  {% csrf_token %}
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  
	  <div>
	    <button type="submit" class="btn btn-primary">Reset Password</button>
	  </div>
	</form>
</div>
</div>
</div>
</div>
<script>
    let form = document.querySelector("#my_login_form")
    for(let el of form.elements){
        if(el.tagName == "INPUT"){
            el.classList.add("input")
            el.classList.add("w100")
        }
    }
</script>
{% endblock content %}