<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    .main{
        padding: 2em;
        background-color: orange;
    }
</style>
<div class="main">
    
<h1>Hi</h1>

<p>You're receiving this email because you requested a password reset for your user account at {{domain}}/</p>

<p>Please click the following link to reset your password:</p>

{{ protocol }}://{{ domain }}{% url "users:password_reset_confirm" uidb64=uid token=token %}

<p>Thanks</p>
<p>{{domain}} Team</p>
</div>