<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./assets/img/favicon.ico" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="image_src" content="" />
    <meta name="author" content="Mukhammadjonov Javlon" />

    <meta property="og:title" content="Avtoxizmatlar.uz" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Avtoxizmatlar.uz" />
    <meta property="og:locale" content="ru_RU" />

    <!-- All css -->
    <link rel="stylesheet" href="./assets/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

    <title>Avtoxizmatlar.uz</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <nav class="header__nav">
                <div class="nav__img">
                    <a href="/">
                        <img src="./assets/img/logo.png" alt="">
                    </a>
                </div>

                <div class="nav__item">
                    <form class='nav__searchBox' action="#">
                        <input type="text" id="myInput" class="nav__searchBox__input"
                            placeholder='Qanday yordam bera olamiz ?' />
                        <button type="submit" class="nav__searchBox__search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </form>

                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">урьер на одну доставку</a>
                        <a href="#">ужен курьер на машине</a>
                        <a href="#">борка квартиры</a>
                        <a href="#">делать маникюр с покрытием шеллак</a>
                        <a href="#">аращивание ресниц</a>
                        <a href="#">аращивание ногтей</a>
                        <a href="#">очинить стиральную машину</a>
                        <a href="#">тремонтировать телефон</a>
                    </div>

                    <ul class="nav__list">
                        <li class="list__item">
                            <a href="/">Ustaxonalar</a>
                        </li>
                        <li class="list__item">
                            <a href="/">Xizmat ko’rsatish</a>
                        </li>
                        <li class="list__item">
                            <a href="/">Men ustaman</a>
                        </li>
                    </ul>
                </div>

                <div class="nav__log">
                    <div class="log__item">
                        <p>Andijon</p>
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                    <a class="log__item" href="/">Kirish</a>
                </div>

                <div class="menu" id="menu">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <div class="opacity"></div>
        <section>
            <div class="container">
                <div class="category__list">
                    <div class="category__left">
                        <p id="title" class="title">
                            Profil
                            <i class="fa-solid fa-chevron-down"></i>
                        </p>
                        <ul id="list">
                            <li>
                                <a href="#">
                                    <p>Reklama (TEST)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Profil foto</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Manzil</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Shirkat haqida</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Mutaxasislik</p>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <p>Gallereya</p>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div id="modalOpasitiy" onclick="closeModal()" class="modelOpasitiy"></div>
                    <div id="modalContent" class="myModal">
                        <p>
                            <i onclick="closeModal()" class="fa-solid fa-x"></i>
                        </p>
                        <div class="top">
                            <h5>avtoxizmatlar.uz</h5>
                            <h4>+998901234567</h4>
                            <b>Avtosoz</b>
                            <p>Xizmat ko’rsatuvchiga uni avtoxizmatlar.uz dan topganingizni ayting</p>
                        </div>
                        <div class="bottom">
                            <b>Qo’ng’iroq qilamizmi ?</b>
                            <ul>
                                <li>
                                    <a href="tel:+998901234567">Ha</a>
                                </li>
                                <li>
                                    <button onclick="closeModal()">Yo’q</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="category__items">
                        <h2>Profil</h2>
                        <p class="des">Profil e’lonlar oynasida</p>
                        <div class="category__items__list">
                            <div class="item">
                                <div class="item__left">
                                    <img src="./assets/img/category/face.png" alt="">
                                    <ul>
                                        <li>
                                            <i class="fa-solid fa-house"></i>
                                            <p>2 ta joyda</p>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-clock"></i>
                                            <p>00:00-00:00</p>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-credit-card"></i>
                                            <p>Karta</p>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-money-bill"></i>
                                            <p>Naqd pul</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item__right">
                                    <div class="item__right__top">
                                        <div class="reting">
                                            <div class="titles">
                                                <h3>Avtosoz</h3>
                                                <b><span><i class="fa-solid fa-star"></i></span>6 reyting </b>
                                            </div>
                                            <p>Andijon shahar, 222 yo’lida, proyezd</p>
                                        </div>
                                        <div class="categorys">
                                            <ul class="list1">
                                                <li>
                                                    <a href="#">Moy almashtirish</a>
                                                </li>
                                                <li>
                                                    <a href="#">Motor sozlamalari</a>
                                                </li>
                                                <li>
                                                    <a href="#">Yana 12 ta xizmatlar</a>
                                                </li>
                                            </ul>
                                            <ul class="list2">
                                                <li><span></span>kelishilgan holda</li>
                                                <li><span></span>kelishilgan holda</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="item__right__bottom">
                                        <a onclick="openModal()">
                                            <i class="fa-solid fa-phone"></i>
                                            Telefon
                                        </a>
                                        <a href="#">
                                            <i class="fa-solid fa-location-dot"></i>
                                            Anijon shahar, Boburshox, 23a uy
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="detail__addres">
                                <div id="address" class="title">
                                    <h3>Manzillar</h3>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                                <ul class="detail__list">
                                    <li>
                                        <p>Andijon shahar, 222 yo’lida, proyezd</p>
                                    </li>
                                    <li>
                                        <p>Andijon shahar, 222 yo’lida, proyezd</p>
                                    </li>
                                    <li>
                                        <p>Andijon shahar, 222 yo’lida, proyezd</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="detail__addres">
                                <div id="info" class="title">
                                    <h3>Xizmat ko’rsatuvchi haqida</h3>
                                    <i id="info-icon" class="fa-solid fa-chevron-down"></i>
                                </div>
                                <ul id="info-list" class="detail__list">
                                    <li>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga quia
                                            necessitatibus voluptatibus sequi consequatur dolorum aspernatur placeat eos
                                            quis qui magnam, molestiae est architecto mollitia repellat alias accusamus
                                            harum sed.</p>
                                    </li>
                                </ul>
                            </div>
                            <div class="detail__gallery">
                                <div id="gallery" class="title">
                                    <h3>Gallereya</h3>
                                    <i id="gallery-icon" class="fa-solid fa-chevron-down"></i>
                                </div>

                                <div id="gallery-list" class="tz-gallery">
                                    <ul class="gallery__list">
                                        <li>
                                            <div class="thumbnail">
                                                <a class="lightbox" href="./assets/img/home/register1.png">
                                                    <img src="./assets/img/home/register1.png" alt="Park">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a class="lightbox" href="./assets/img/home/register1.png">
                                                    <img src="./assets/img/home/register1.png" alt="Bridge">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a class="lightbox" href="./assets/img/home/register1.png">
                                                    <img src="./assets/img/home/register1.png" alt="Tunnel">
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="thumbnail">
                                                <a class="lightbox" href="./assets/img/home/register1.png">
                                                    <img src="./assets/img/home/register1.png" alt="Coast">
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <form class="detail__form" action="#">
                                <h3>Ushbu xizmat ko’rsatuvchi xizmatlarini baholang !</h3>
                                <p>
                                    <span class="star-rating">
                                        <label for="rate-1" style="--i:1"><i class="fa-solid fa-star"></i></label>
                                        <input type="radio" name="rating" id="rate-1" value="1">
                                        <label for="rate-2" style="--i:2"><i class="fa-solid fa-star"></i></label>
                                        <input type="radio" name="rating" id="rate-2" value="2" checked>
                                        <label for="rate-3" style="--i:3"><i class="fa-solid fa-star"></i></label>
                                        <input type="radio" name="rating" id="rate-3" value="3">
                                        <label for="rate-4" style="--i:4"><i class="fa-solid fa-star"></i></label>
                                        <input type="radio" name="rating" id="rate-4" value="4">
                                        <label for="rate-5" style="--i:5"><i class="fa-solid fa-star"></i></label>
                                        <input type="radio" name="rating" id="rate-5" value="5">
                                    </span>
                                </p>
                                <input class="inp" type="text" placeholder="Ismingiz">
                                <textarea placeholder="Xizmat ko’rsatuvchi haqida fikrlaringiz"></textarea>
                                <button type="submit">Baholash</button>
                            </form>

                        </div>
                    </div>

                    <div class="category__right">
                        <ul>
                            <div>
                                <img src="./assets/img/category/up.png" alt="">
                                <b>Mijozlar sonini oshiring</b>
                                <p>
                                    Reklama berish orqali xizmatlaringizni mijozlarga birinchilardan bo’lib taklif
                                    qilishingiz
                                    mumkin. <span>Hozirda bu servis ishga tushmadi.</span>
                                </p>
                                <a href="/">Reklama yoqish</a>
                            </div>
                            <li class="revews">
                                <div class="items">
                                    <img src="./assets/img/home/register1.png" alt="">
                                    <div>
                                        <p>Abdurahmon Rashidov</p>
                                        <ul>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="text">Aka yaxshi ish qiladikan, malades mashi ustalarni maslahat beraman!</p>
                            </li>
                            <li class="revews">
                                <div class="items">
                                    <img src="./assets/img/home/register1.png" alt="">
                                    <div>
                                        <p>Abdurahmon Rashidov</p>
                                        <ul>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="text">Aka yaxshi ish qiladikan, malades mashi ustalarni maslahat beraman!</p>
                            </li>
                            <li class="revews">
                                <div class="items">
                                    <img src="./assets/img/home/register1.png" alt="">
                                    <div>
                                        <p>Abdurahmon Rashidov</p>
                                        <ul>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="text">Aka yaxshi ish qiladikan, malades mashi ustalarni maslahat beraman!</p>
                            </li>
                            <li class="revews">
                                <div class="items">
                                    <img src="./assets/img/home/register1.png" alt="">
                                    <div>
                                        <p>Abdurahmon Rashidov</p>
                                        <ul>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li class="star-act"><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                            <li><i class="fa-solid fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="text">Aka yaxshi ish qiladikan, malades mashi ustalarni maslahat beraman!</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Scroll Up Start -->
        <div id="scrollUp" class="scrollUp">
            <span>&uarr;</span>
        </div>
        <!-- Scroll Up End -->
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <ul>
                    <li>
                        <a href="/">Xizmat ko’rsatish turkumlari</a>
                    </li>
                    <li>
                        <a href="/">Xizmat ko’rsatuvchiga aylanish</a>
                    </li>
                    <li>
                        <a href="/">Shaxsiy kabinet</a>
                    </li>
                    <li>
                        <a href="/">Boshqa xizmatlar</a>
                    </li>
                    <li>
                        <a href="/">Yordam</a>
                    </li>
                    <li>
                        <a href="/">Portal haqida</a>
                    </li>
                </ul>
            </div>
            <div class="footer__bottom">
                <div class="text">
                    <p>avtoxizmatlar.uz - <a href="http://" target="_blank" rel="noopener noreferrer">Abdurahmon
                            Rashidov</a> 2024 yil.</p>
                    <p>Savol va takliflar yuzasidan: <a href="http://" target="_blank"
                            rel="noopener noreferrer">abdurakhmonrashidov@yandex.ru</a></p>
                </div>
                <ul class="list">
                    <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-telegram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="./assets/js/index.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
</body>

</html>